#!/bin/bash

SRC_DIR="/home/sebastiaan/test/"
DEST_DIR="sebastiaan@192.168.199.152:/home/sebastiaan/Desktop/backoup/"

RSYNC_OPTS="-ahvz --delete --progress -og"

# Set the SSH key path
SSH_KEY="/home/sebastiaan/.ssh/id_rsa"

# Run rsync with the specified SSH key
sudo -u "sebastiaan" rsync $RSYNC_OPTS -e "ssh -i $SSH_KEY" "$SRC_DIR" "$DEST_DIR" 2>&1 | tee /var/log/rsync.log
